<div class="container">
    <div class="row mb-3">
        <div class="col-md-4 themed-grid-col">Category</div>
        <div class="col-md-8 themed-grid-col">Subjects</div>  
    </div>
    <div class="row mb-3">
        <div class="col-md-4 themed-grid-col">Science and Mathematics</div>
        <div class="col-md-8 themed-grid-col"><a href='/biology'>Biology</a>, Chemistry, Physics, Physical Education, General Science and Mathematics</div>  
    </div>
    <div class="row mb-3">
        <div class="col-md-4 themed-grid-col">Languages</div>
        <div class="col-md-8 themed-grid-col">English Language, Kiswahili, Literature in English, Local Languages and Foreign Languages</div>  
    </div>
    <div class="row mb-3">
        <div class="col-md-4 themed-grid-col">Social Sciences</div>
        <div class="col-md-8 themed-grid-col">Geography, History, Religious Education</div>  
        </div>
    <div class="row mb-3">
        <div class="col-md-4 themed-grid-col">Vocational Subjects</div>
        <div class="col-md-8 themed-grid-col">Commerce, Fine Art, Music,  Agriculture, Home Economics,  Wood Work, Metal Work, Technical Drawing, Entrepreneurship Education , Computer Studies</div>  
    </div>
  </div>
  <style>
     .themed-grid-col {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(86, 61, 124, .15);
  border: 1px solid rgba(86, 61, 124, .2);
}

.themed-container {
  padding: 15px;
  margin-bottom: 30px;
  background-color: rgba(0, 123, 255, .15);
  border: 1px solid rgba(0, 123, 255, .2)
}
.col1{
    max-width: 20px;
}

  </style>